:root {
  --primary: #00bcd4;
  --secondary: #7bf1a8;
  --dark: #212121;
  --light: #e0e0e0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body{
  background: var(--light);
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}